#Header {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: auto
}
#Header .fix {
	MIN-WIDTH: 1000px; PADDING-LEFT: 0px; MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: auto
}
#Header A {
	TEXT-DECORATION: none
}
#Header A:hover {
	TEXT-DECORATION: underline
}
#Logo {
	BACKGROUND: url(images/public/logo.png) no-repeat
}
#zhezhao {
	BACKGROUND: url(images/public/bg_alpha.png)
}
#L {
	BACKGROUND: url(images/public/header.png) no-repeat
}
#S .selBox .selected {
	BACKGROUND: url(images/public/header.png) no-repeat
}
#S .selBox .btnSel A {
	BACKGROUND: url(images/public/header.png) no-repeat
}
#S .iBtn {
	BACKGROUND: url(images/public/header.png) no-repeat
}
#H li {
	BACKGROUND: url(images/public/header.png) no-repeat
}
#Menu li {
	BACKGROUND: url(images/public/header.png) no-repeat
}
#Header {
	Z-INDEX: 100; BACKGROUND: url(images/public/bg.png) repeat-x; POSITION: relative
}
#FrontCover {
	POSITION: relative; HEIGHT: 83px
}
#Logo {
	MARGIN: 19px 0px 0px 17px; WIDTH: 164px; TEXT-INDENT: -9876px; LINE-HEIGHT: 39px; POSITION: absolute; HEIGHT: 39px
}
#Logo A {
	DISPLAY: block; WIDTH: 100%; outline: 0
}
#S {
	POSITION: absolute
}
#L {
	POSITION: absolute
}
#H {
	POSITION: absolute
}
#SelDiag {
	POSITION: absolute
}
#L {
	Z-INDEX: 100
}
#H {
	Z-INDEX: 50
}
#S {
	LEFT: 233px; TOP: 12px
}
#SelDiag {
	BORDER-RIGHT: #df1515 1px solid; BORDER-TOP: #df1515 1px solid; DISPLAY: none; BACKGROUND: #fff; LEFT: 305px; BORDER-LEFT: #df1515 1px solid; WIDTH: 40px; BORDER-BOTTOM: #df1515 1px solid; TOP: 25px; HEIGHT: 60px; TEXT-ALIGN: center
}
#SelDiag A {
	DISPLAY: block; LINE-HEIGHT: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #fff
}
#SelDiag A:hover {
	COLOR: #fff! important; BACKGROUND-COLOR: #df1515; TEXT-DECORATION: none
}
#TopNav .d_add {
	BACKGROUND: url(images/public/header.png) no-repeat; outline: 0
}
#TopNav .d_added {
	BACKGROUND: url(images/public/header.png) no-repeat; outline: 0
}
#TopNav .d_send {
	BACKGROUND: url(images/public/header.png) no-repeat; outline: 0
}
#TopNav .d_sended {
	BACKGROUND: url(images/public/header.png) no-repeat; outline: 0
}
#TopNav .d_close {
	BACKGROUND: url(images/public/header.png) no-repeat; outline: 0
}
#Header .itext {
	BACKGROUND: url(images/public/header.png) no-repeat; outline: 0
}
#Header .btn1 {
	BACKGROUND: url(images/public/header.png) no-repeat; outline: 0
}
#TopNav .d_add {
	TEXT-INDENT: -12345px
}
#TopNav .d_added {
	TEXT-INDENT: -12345px
}
#TopNav .d_send {
	TEXT-INDENT: -12345px
}
#TopNav .d_sended {
	TEXT-INDENT: -12345px
}
#TopNav .d_close {
	TEXT-INDENT: -12345px
}
#TopNav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #444; PADDING-TOP: 0px
}
#B-Upload #TopNav {
	POSITION: static! important
}
#TopNav li {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; Z-INDEX: 99; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 20px
}
#TopNav .s {
	BACKGROUND: url(images/public/header.png) no-repeat right -133px
}
#TopNav .f {
	COLOR: #696969; TEXT-DECORATION: none
}
#TopNav .f:hover {
	TEXT-DECORATION: underline
}
#TopNav A {
	COLOR: #444; TEXT-DECORATION: underline
}
#TopNav A:hover {
	TEXT-DECORATION: none
}
#TopNav .user {
	COLOR: #f00
}
#TopNav SPAN {
	COLOR: #f00
}
#TopNav .logout {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#TopNav .count {
	DISPLAY: block; BACKGROUND: url(images/public/header.png) no-repeat -273px 0px; WIDTH: 50px; HEIGHT: 12px
}
#TopNav .s1 {
	WIDTH: 207px
}
#TopNav .s2 {
	WIDTH: 261px
}
#TopNav .s3 {
	WIDTH: 136px
}
#TopNav .d {
	BORDER-RIGHT: #dedede 3px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dedede 3px solid; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 100; RIGHT: -1px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #dedede 3px solid; LINE-HEIGHT: 34px; PADDING-TOP: 0px; BORDER-BOTTOM: #dedede 3px solid; POSITION: absolute; TOP: 24px
}
#TopNav H3 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: 700; FONT-SIZE: 12px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 0px; COLOR: #444; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 24px
}
#TopNav .title {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: 700; FONT-SIZE: 12px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 0px; COLOR: #444; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 24px
}
#TopNav .d li {
	BORDER-RIGHT: #e5e5e5 0px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e5e5e5 0px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; BORDER-LEFT: #e5e5e5 0px solid; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 24px
}
#TopNav .d UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#TopNav .d div {
	OVERFLOW: hidden
}
#TopNav .d_friend {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 124px
}
#TopNav .d_icon {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
#TopNav .d_video {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 138px; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
#TopNav .d_author {
	FLOAT: left; WIDTH: 80px
}
#TopNav .d_icon A {
	DISPLAY: block; WIDTH: 17px; HEIGHT: 13px
}
#TopNav .d_add {
	BACKGROUND-POSITION: -151px 0px
}
#TopNav .d_added {
	BACKGROUND-POSITION: -113px 0px
}
#TopNav .d_send {
	BACKGROUND-POSITION: -217px 0px
}
#TopNav .d_sended {
	BACKGROUND-POSITION: -186px 0px
}
#TopNav .d_close {
	BACKGROUND-POSITION: -127px -107px; FLOAT: right; MARGIN: 7px 0px 0px 8px; WIDTH: 11px; HEIGHT: 11px
}
#TopNav .d_item {
	DISPLAY: block; WIDTH: 136px; HEIGHT: 24px; TEXT-ALIGN: center
}
#TopNav .d_item:hover {
	BACKGROUND: #dedede; COLOR: #444! important; TEXT-DECORATION: underline
}
#TopNav .s3 li {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#TopNav .s_c {
	PADDING-RIGHT: 51px
}
#TopNav .m {
	CLEAR: both; PADDING-RIGHT: 8px; LINE-HEIGHT: 25px; FONT-FAMILY: "SimSun","Arial"; HEIGHT: 25px
}
#TopNav .m1 {
	CLEAR: both; PADDING-RIGHT: 8px; LINE-HEIGHT: 25px; FONT-FAMILY: "SimSun","Arial"; HEIGHT: 25px
}
#TopNav .m {
	TEXT-ALIGN: right
}
#TopNav .m1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#TopNav .m A {
	COLOR: #b4b4b4
}
#TopNav .m1 A {
	COLOR: #b4b4b4
}
#TopNav .m1 A {
	DISPLAY: block
}
#TopNav .m1 A:hover {
	BACKGROUND: #dedede
}
#zhezhao {
	DISPLAY: none; Z-INDEX: 100000; FILTER: alpha(opacity=20); WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 1000px; _background: #000
}
.prompt {
	PADDING-RIGHT: 3px; DISPLAY: none; PADDING-LEFT: 3px; Z-INDEX: 100001; BACKGROUND: #ddd; PADDING-BOTTOM: 3px; WIDTH: 497px; PADDING-TOP: 3px; POSITION: absolute; HEIGHT: 240px
}
.prompt .meat {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; COLOR: #666; LINE-HEIGHT: 20px; PADDING-TOP: 18px; HEIGHT: 220px
}
.prompt .close {
	HEIGHT: 18px; TEXT-ALIGN: right
}
.prompt .close IMG {
	DISPLAY: inline; CURSOR: pointer
}
.prompt H3 {
	HEIGHT: 58px
}
.prompt .k {
	BORDER-RIGHT: #c8c8c8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c8c8c8 1px solid; PADDING-LEFT: 103px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c8c8c8 1px solid; WIDTH: 392px; PADDING-TOP: 0px; BORDER-BOTTOM: #c8c8c8 1px solid; HEIGHT: 238px
}
.prompt .pbt {
	PADDING-TOP: 8px; HEIGHT: 26px
}
.prompt .pbt INPUT {
	CURSOR: pointer
}
.prompt .back {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(images/public/log.png) no-repeat -1796px -6px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 108px; HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px
}
.prompt .space {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(images/public/log.png) no-repeat -1916px -6px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 12px; WIDTH: 138px; HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px
}
.prompt .log {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(images/public/log.png) no-repeat -1796px -6px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 108px; MARGIN-RIGHT: 32px; HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px
}
.prompt .p1 {
	PADDING-BOTTOM: 6px
}
.prompt .p2 {
	HEIGHT: 33px
}
.prompt .p2 INPUT {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bcbcbc 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #bcbcbc 1px solid; WIDTH: 178px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #bcbcbc 1px solid; HEIGHT: 20px
}
.prompt .p2 A {
	MARGIN-LEFT: 16px; COLOR: #666; TEXT-DECORATION: underline
}
.log_v {
	BACKGROUND: url(images/public/log.png) #f0f0f0 no-repeat 14px 83px
}
.log_v H3 {
	BACKGROUND: url(images/public/log.png) no-repeat -677px 18px
}
.log_v .p1 {
	DISPLAY: none
}
.log_v .back {
	DISPLAY: none
}
.log_v .space {
	DISPLAY: none
}
#S div {
	PADDING-TOP: 0px
}
#S div A {
	MARGIN-RIGHT: 0px
}
#TopNav {
	FLOAT: none
}
#TopNav .count {
	BACKGROUND: url(images/public/header.png) no-repeat -153px -106px; WIDTH: 42px
}
#TopNav .s3 {
	WIDTH: 90px
}
#TopNav .d_item {
	WIDTH: 90px
}
#TopNav .d {
	BORDER-RIGHT: #f2d8c7 1px solid; BORDER-TOP: #f2d8c7 1px solid; BORDER-LEFT: #f2d8c7 1px solid; BORDER-BOTTOM: #f2d8c7 1px solid
}
#TopNav .msg {
	PADDING-RIGHT: 20px; BACKGROUND: url(images/public/header.png) no-repeat -210px -106px
}
#S .iText {
	FLOAT: left
}
#S .selBox {
	FLOAT: left
}
#S .selBox .selected {
	FLOAT: left
}
#S .selBox .btnSel {
	FLOAT: left
}
#S .iBtn {
	FLOAT: left
}
#S .sText {
	BORDER-RIGHT: #f2d8c7 3px solid; BORDER-TOP: #f2d8c7 3px solid; BACKGROUND: #fff; FLOAT: left; BORDER-LEFT: #f2d8c7 3px solid; WIDTH: 366px; BORDER-BOTTOM: #f2d8c7 3px solid; HEIGHT: 26px
}
#S .iText {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 302px; COLOR: #999; TEXT-INDENT: 5px; PADDING-TOP: 6px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
#S .selBox .selected {
	BACKGROUND-POSITION: 0px -231px; WIDTH: 37px; COLOR: #df1515; TEXT-INDENT: 2px; LINE-HEIGHT: 26px; HEIGHT: 26px; TEXT-ALIGN: center
}
#S .selBox .btnSel {
	WIDTH: 22px; LINE-HEIGHT: 26px; HEIGHT: 26px
}
#S .selBox .btnSel A {
	BACKGROUND-POSITION: -189px -56px; DISPLAY: block; WIDTH: 100%; TEXT-INDENT: -9876px; outline: 0
}
#S .selBox .btnSel A:hover {
	BACKGROUND-POSITION: -227px -56px
}
#S .iBtn {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -55px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 6px; WIDTH: 49px; CURSOR: pointer; COLOR: #df1515; LINE-HEIGHT: 32px; HEIGHT: 32px; BORDER-RIGHT-WIDTH: 0px
}
#S .sKey {
	CLEAR: both; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 380px; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 6px; HEIGHT: 20px
}
#S .sKey A {
	MARGIN-LEFT: 5px; COLOR: #333
}
#L {
	BACKGROUND-POSITION: 2px -208px; PADDING-LEFT: 10px; RIGHT: 2px; TOP: 12px
}
.out#L {
	LINE-HEIGHT: 14px; HEIGHT: 14px
}
.out#L li {
	BORDER-RIGHT: #dbdbdb 1px solid; FLOAT: left
}
.out#L li.s4 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.out#L li A {
	DISPLAY: block; MARGIN: 0px 7px; COLOR: #707070
}
#H {
	RIGHT: 0px; WIDTH: auto; LINE-HEIGHT: 14px; TOP: 55px; HEIGHT: 14px
}
#H li {
	BORDER-RIGHT: #dbdbdb 1px solid; FLOAT: left; WIDTH: 85px; TEXT-ALIGN: center
}
#H li.m2v {
	BACKGROUND-POSITION: 0px -105px
}
#H li.upload {
	BACKGROUND-POSITION: 9px -139px
}
#H li.record {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 9px -172px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#H li A {
	DISPLAY: block; COLOR: #333; TEXT-INDENT: 14px; PADDING-TOP: 1px
}
#Menu {
	WIDTH: auto; HEIGHT: auto
}
#Menu li {
	MARGIN-RIGHT: 0px
}
#Menu li A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
#Menu li.s1 A:hover {
	BACKGROUND-POSITION: -80px 0px
}
#Menu li.s11 {
	BACKGROUND-POSITION: -80px 0px; WIDTH: 75px
}
#Menu li.s11 A:hover {
	BACKGROUND-POSITION: -80px 0px
}
#Menu {
	CLEAR: both
}
#Menu li {
	BACKGROUND-POSITION: -80px 0px; FLOAT: left; WIDTH: 75px; LINE-HEIGHT: 40px; HEIGHT: 40px
}
#Menu li.s1 {
	BACKGROUND-POSITION: 0px 0px; WIDTH: 80px
}
#Menu li.s13 {
	BACKGROUND-POSITION: -155px 0px; WIDTH: 95px
}
#Menu li A {
	DISPLAY: block; WIDTH: 100%; COLOR: #fff! important; TEXT-INDENT: 12px; LINE-HEIGHT: 32px
}
#Header .sKey EM {
	FONT-WEIGHT: 700; FONT-STYLE: normal
}
#Main {
	CLEAR: both
}
