
/*POMOHO Manage Public Created By SMbey0nd and oneMax @ POMOHO 2008-10-27 14:28:22*/
/*CSS Reset(From Yahoo!)*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{margin:0px;padding:0px;}
table{border-collapse:collapse;border-spacing:0px;}
fieldset,img,abbr,acronym{border-width:0px;}
img{display:block;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
input,select,button{vertical-align:middle;}
body{font-family:"Arial","SimSun",Helvetica,sans-serif;font-size:12px;color:#333;}
/*Basic*/
a{color:#333;}
a:hover{color:#DF3D12;text-decoration:none;}
a:focus{ outline:0}
.hide{display:none;}
.block{display:block;}

/*自适应按钮：默认 - 白色*/
.iBtn2{padding:0;height:30px;line-height:30px;color:#13457D;border:0;cursor:pointer;background:url(images/ibtn.png) no-repeat;}
.iBtn2 span{display:block;position:relative;left:3px;*position:static;height:30px;*height:auto;line-height:30px;padding:0 20px;padding:0 10px;font-size:14px;font-weight:700;background:url(images/ibtn.png) no-repeat;background-position:right -32px;}

.iBtn,.iBtn span{height:28px;line-height:28px;background:url(images/ibtn.png) no-repeat;}
.iBtn{padding:0;cursor:pointer;border:0;}
.iBtn span{display:block;*height:auto;position:relative;left:3px;top:-1px;*position:static;padding:0 17px;*padding:0 7px;color:#333;font-size:12px;background-position:right -28px;}
a.iBtn{display:table;*display:inline-block;margin:0 auto;text-decoration:none;}
a.iBtn span{position:static;padding:0 20px;}
/*Hacks For IE8 Beta2 ↓*/
html:first-child .iBtn span{position:static;padding:0 17px;}

/*其他按钮样式*/
.i1{}

/*其他控件*/
.iText,.iFile,.iSelect{border:1px #91BCDA solid;height:20px;font:12px/20px "Arial","SimSun",Helvetica,sans-serif;color:#333;}
.iTextArea{border:1px #91BCDA solid;height:60px;font:12px/20px arial;color:#333;text-indent:5px;background:url(images/texta_bg.png) #FFF repeat-x 0 1px;}
.iCheckBox{margin-top:-2px;_margin-top:-4px;margin-right:5px;}
.iRadioBox{margin-top:-2px;margin-right:5px;}
/*兼容原命名*/
.txt{border:1px solid #7b9ebd;height:20px;padding:1px 2px;font-size:14px;}
.btn{width:64px;height:24px;border:0;color:white;font-weight:bold;cursor:pointer;background:url(http://static.pomoho.com/themes/site/200708/images/public/btn.png);}
.is_login {display:none;}

/*头部*/
#H{position:relative; z-index:10000; width:1000px;margin:0 auto;background:url(http://static.pomoho.com/themes/site/200708/images/public/s.png) no-repeat 270px 9px;}
#Logo{padding:9px 0 0 20px;}
#S{position:absolute;left:301px;top:11px;}
#S .txt{padding:0;border:0;font-size:14px;width:156px;margin-right:4px;_margin-right:6px;}
#S select{margin-right:3px;_margin-right:5px;border:1px solid #7D9BBD;font-size:13px;padding:1px;}
#S div{padding-top:9px;color:#333;font-weight:bold;}
#S div a{color:#666;font-weight:normal;margin-right:6px;text-decoration:none;}
#S .btn{font-size:12px;}
#Ha{position:absolute;right:0;top:34px;padding-left:89px;background:url(http://static.pomoho.com/themes/site/200708/images/public/ha_bg.png) repeat-x 0 bottom;}
#Ha a{display:block;float:left;width:62px;padding-left:27px;height:32px;font:bold 12px/32px arial;text-decoration:none;background:url(http://static.pomoho.com/themes/site/200708/images/public/ha.png);}
#Ha .s2{background-position:0 -32px;}
#Ha .s3{background-position:0 -64px;}


/*by oneMax_S*/

/*布局*/
#Main{ width:1000px;margin:0 auto; background:#f6f6f4;}
#Main{overflow:hidden;_zoom:1;margin-bottom:-1px;}

/*Menu_Quick*/
#Menu_Quick{width:1000px; float:left;height:19px;margin-bottom:12px; padding-top:6px; overflow:hidden; border:1px solid #e5e6e0; border-width:1px 0px;background:#fff}
#Menu_Quick h2{width:25px; height:19px;text-indent:-23556px;float:right;overflow:hidden;}
#Menu_Quick .meat{overflow:hidden; _float:right}
#Menu_Quick li{float:right;height:14px;padding:0px 14px; vertical-align: baseline;_zoom:1; background:url(images/ibtn.png) no-repeat right -60px; margin-right:-1px; overflow:hidden}
#Menu_Quick li a:hover,#Menu_Quick .ac{ color:#db3211; text-decoration: underline;}
#Menu_Quick a,#Menu_Quick .ac:hover{text-decoration:none;}

/*Layout布局*/
#Layout_1{width:210px;float:left; padding:0px 20px 0px 5px; margin-top:-7px}
#Layout_2{width:734px;float:right;padding-right:31px; clear:right;}

/*Menu_Main*/
#Menu_Main h2,#Menu_Main .meat,#Menu_Main li a,#Menu_Main .ac,#Menu_Main a:hover,#Menu_Main .m,.cols_1,#subTab li{background:url(images/pub.png) no-repeat;}
#Menu_Main{}
#Menu_Main h2,#Menu_Main h2 a{height:35px;}
#Menu_Main h2 a{display:block; text-indent:-23556px}
#Menu_Main .meat{background:url(images/pub.png) -211px 0px; vertical-align:middle}
#Menu_Main li,#Menu_Main li a{height:33px;overflow:hidden;}
#Menu_Main li a{display:block;line-height:33px;text-indent:52px;text-decoration:none;color:#4d4d4d;font-size:14px;background-position:-1602px 0px;}
#Menu_Main li a img.newItem{display:inline;margin:-5px 0 0 5px;vertical-align:middle;_position:absolute;_margin:0 0 0 5px;}
#Menu_Main a:hover,#Menu_Main .ac,#Tab .ac a{color:#db3211;}
#Menu_Main li a:hover,#Menu_Main .ac{background-position:-1376px 0px;}
#Menu_Main .m{ height:35px; background-position:-422px bottom;text-indent:-23556px}
/*Current Item*/
body.bVideo #Menu_Main li.s1 a,/*视频管理*/
body.bAlbum #Menu_Main li.s2 a,/*相册管理*/
body.bFriends #Menu_Main li.s3 a,/*好友管理*/
body.bMyscore #Menu_Main li.s4 a,/*积分管理*/
body.bCombo #Menu_Main li.s5 a,/*社团管理*/
body.bPop #Menu_Main li.s6 a,/*爆爆团管理*/
body.bMessage #Menu_Main li.s7 a,/*消息管理*/
body.bSubscribe #Menu_Main li.s8 a,/*订阅管理*/
body.bHome #Menu_Main li.s9 a,/*空间管理*/
body.bUserInfo #Menu_Main li.s10 a,/*个人资料管理*/
body.bGoogle #Menu_Main li.s11 a,body.bGame #Menu_Main li.s13 a/*游戏管理*/
{color:#db3211;background-position:-1376px 0px;}

/*右边通用栏*/
.cols_1{min-height:452px!important;height:auto;_height:452px; position:relative; z-index:0; padding-top:5px;border:1px solid #dddfd4; background-color:#fff; background-position:-633px 0px}
.cols_1 h1{ display:none}
.cols_1 .meat{}
.cols_1 .m{ width:148px; height:46px; position:absolute;top:4px;right:6px; cursor:pointer;}
.cols_1 .m a{height:46px; display:block;text-indent:-23556px;}
#Tab{padding-left:27px;height:27px;line-height:26px;}
#Tab li{float:left;font-weight:700;}
#Tab li a{display:inline-block;padding:0px 22px;color:#666;}
#Tab .ac{ background:#fff;border:1px solid #dddfd4;border-bottom-width:0px}
#Tab .ac a{ text-decoration:none}
#subTab{width:710px; margin:0 auto; height:40px;line-height:40px; overflow:hidden;}
#subTab li{width:aotu;float:left;margin-left:-2px;padding:0px 12px;background-position:-1848px 2px; vertical-align: baseline;_zoom:1}
#subTab li a{color:#8d8a5d;}
#subTab .ac a{color:#e13e13; text-decoration:none}
#subTab .ac a:hover{text-decoration:underline;}

/*翻页*/
.pager{padding:28px 0;text-align:center;color:#666;; clear:both;vertical-align: baseline;_zoom:1;}
.pager a{margin-left:3px;color:#90895d;text-decoration:none;vertical-align: baseline;_zoom:1;}
.pager .current,.pager em{color:#d93510; font-weight:normal;}
.pager a:hover,.pager .preview,.pager .next{text-decoration:underline;}
.pager .preview:hover,.pager .next:hover{text-decoration:none;}
.pager .total{color:#90895D;}

/*浮层*/
.floatDiv{width:390px; border:1px solid #cecfc7;background-color:#fff; position:absolute; }
.floatDiv h2{ padding-left:16px; color:#666; height:28px; line-height:28px;background:url(images/fdiv.png);}
.floatDiv .meat{ overflow:hidden;_zoom:1}
.floatDiv .close{width:11px; height:27px;position:absolute;top:0px;right:7px;}
.floatDiv .close input{width:11px; height:27px; cursor:pointer; border:0px;background:url(images/fdiv.png) 0px -29px no-repeat;}
#Msger{ height:auto}
#Msger .meat{width:350px; padding:20px; text-align:center;}
#Msgs_h{ padding:10px; text-align:center;}
#Msgs_h button{ float:none}
#Msger .h3{ height:40px;padding-left:52px;font:normal 14px/40px "Bodoni MT Black";text-align:left;color:#d93510;}
#Msger .p{ height:50px;padding-left:52px;color:#999;text-align:left;} 
#Msger button{margin:10px} 
/*by oneMax_E*/

/*尾部*/
#FS{width:1000px;background-color:#f6f6f4;}
#Links{padding:40px 0 12px!important;}
#Links a{margin:0 3px;text-decoration:none; color:#666!important}
#Copyright a{margin-left:6px;color:#666;}
#FootLogo{padding:10px 0 0;position:relative;}
#FootLogo img{border:0;}
#FootLogo .plc{position:absolute;right:0;top:-10px;}
#FootLogo .plc img{width:80px;height:80px;}
/*操作区*/
.tHead{color:#666;font-weight:bold;overflow:hidden;zoom:1;}
.cols_1 .meat{clear:both;overflow:hidden;zoom:1;background:url(images/meatbg.png) repeat-x top;}

/*尾部导航*/
#F{clear:both;width:1000px;margin:0 auto;padding-bottom:20px;text-align:center;font:12px/18px arial;border-top:1px #CCC solid;background:#F5F5F5;}
#Links{width:750px;margin:0 auto;padding:12px 0 4px 0;color:#9F9F9F;overflow:hidden;zoom:1;}
#Links li{float:left;}
#Links li a{margin:0 7px;}
#Links li.s a{color:red;}
#Copyright{color:#666;padding-bottom:15px;}
#Copyright a{margin-left:6px;color:#666;}
#FootLogo{width:555px;margin:0 auto;padding:10px 0 0;overflow:hidden;zoom:1;}
#FootLogo li{float:left;padding:0 5px;}
#FootLogo li a{display:block;padding:2px 0;border:1px #D2D2D2 solid;background:#FFF;}
#FootLogo li.s4 a{padding:0;width:152px;height:52px;overflow:hidden;}